* {
    margin: 0px;
    padding: 0px;

}

    

.first {
    display: flex;
}

h1 {
    font-size: 60px;
    margin-top: 150px;
}

h3 {
    font-size: 20px;
    color: gray;
  
}

button {
    width: 160px;
    height: 50px;
    margin-top: 30px;
    font-size: 20px;
    background-color: tomato;
    border-radius: 25px;
}

span {
    color: goldenrod;
}

.Heading {
    width: 50%;
    margin-left: 80px;
    margin-top: 10px;

}

.second {
    display: flex;
    margin-top: 70px;
    background-image: url(images/shapes/7.png);

}
.banner{
    margin-top: 40px;
}

.about {
    text-align: left;
    margin-left: 250px;
    margin-top: -30px;
}

div img {
    width: 80%;
    margin-left: 110px;
    margin-top: 40px;
}
.align{
    text-align: center;
}


.card-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    float: left;
    width: 300px;
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 3px 3px 4px black;
    background-color: azure;
    margin-left:  250px;
    margin-top: 50px;
 

}
.card-container:hover{
    box-shadow: 6px 6px 8px gray;
    transition: 0.1s;
}
.card-img {
    width: 95%;
    margin-left: 7px;
    margin-top: 7px;
  
}
.card-title{
    text-align: center;

}
.card-descrip{
    text-align: justify;
}